@model MyShop.Models.Product
@using Microsoft.AspNetCore.Identity
@using MyShop.Models
@inject SignInManager<ApplicationUser> SignInManager
@{
    ViewData["Title"] = "Details";
    Layout = "_layout";
}
<div class="float-right">
@if (SignInManager.IsSignedIn(User))
{
    @await Component.InvokeAsync("BasketComponent");
}
</div>
<h1>Details</h1>

<div>
    <h4>Product</h4>

    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">

            @Html.DisplayNameFor(model => model.ImageAnimal)
        </dt>
        <dd class="col-sm-10">
            <img src="@Html.DisplayFor(modelItem => modelItem.ImageAnimal)" alt="img" style="width:300px" />
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ImageStuffedAnimal);
        </dt>
        <dd class="col-sm-10">
            <img src="@Html.DisplayFor(modelItem => modelItem.ImageStuffedAnimal)" alt="img" style="width:300px" />
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AmmountLeft)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AmmountLeft)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
    </dl>


    <form asp-controller="Basket" asp-action="Create" method="post">

        <input type="hidden" name="productID" value="@Model.ID" />

        <input type="hidden" name="username" value="@User.Identity.Name" />

        <div class="form-group">
            <input type="submit" value="Add to cart!" class="btn btn-primary" />
        </div>
    </form>
</div>
<div>

    <a asp-action="Index">Back to List</a>
</div>
