@model MyShop.Models.Product
@{
    ViewData["Title"] = "Details";
    Layout = "_layout";
}

<h1>Details</h1>

<div>
    <h4>Product</h4>

    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">

            @Html.DisplayNameFor(model => model.ImageAnimal)
        </dt>
        <dd class="col-sm-10">
            <img src="@Html.DisplayFor(modelItem => modelItem.ImageAnimal)" alt="img" style="width:300px" />
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ImageStuffedAnimal);
        </dt>
        <dd class="col-sm-10">
            <img src="@Html.DisplayFor(modelItem => modelItem.ImageStuffedAnimal)" alt="img" style="width:300px" />
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AmmountLeft)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AmmountLeft)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
    </dl>
    <form asp-controller="Basket" asp-action="AddBasketItem">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
 
        <div class="form-group">
            <label asp-for="ID" class="control-label"></label>
            <input asp-for="ID" class="form-control" />
            <span asp-validation-for="ID" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="submit" value="Create" class="btn btn-primary" />
        </div>
    </form>
</div>
<div>

    <a asp-action="Index">Back to List</a>
</div>
