@model IEnumerable<MyShop.Models.Product>
@using Microsoft.AspNetCore.Identity
@using MyShop.Models
@inject SignInManager<ApplicationUser> SignInManager

@{
    ViewData["Title"] = "Index";
    Layout = "_layout";
}

<div class="float-right">
    @if (SignInManager.IsSignedIn(User))
    {
        @await Component.InvokeAsync("BasketComponent");
    }
</div>

<title>Shop</title>
<h1>Shop</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImageStuffedAnimal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AmmountLeft)

            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)


            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImageAnimal)

            </th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    <img src="@Html.DisplayFor(modelItem => item.ImageStuffedAnimal)" alt="img" style="width:300px" />

                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AmmountLeft)
                </td>
                <td>

                    @Html.DisplayFor(modelItem => item.Description)

                </td>
                <td>
                    <img src="@Html.DisplayFor(modelItem => item.ImageAnimal)" alt="img" style="width:300px" />
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.ID">Details</a>
                </td>

            </tr>
        }
    </tbody>
</table>