@page "{id}"
@model MyShop.Pages.Profile.ProfileModel
@using Microsoft.AspNetCore.Identity
@using MyShop.Models
@inject UserManager<ApplicationUser> userManager
@using MyShop.Models.Interfaces
@inject ICheckoutManager CheckoutService


@{
    ViewData["Title"] = "Profile";
    Layout = "_Layout";

}

<h1>Profile</h1>
@{
    var email = User.Identity.Name;
    var user = await userManager.FindByEmailAsync(email);
}

<form method="post" enctype="multipart/form-data">
    <p>
        <label asp-for="User.FirstName">First Name:</label>
        <input asp-for="User.FirstName" value="@user.FirstName" />
    </p>
    <button type="submit">Save</button>
</form>
<p>
    Last Name: @user.LastName
</p>
<p>
    Email: @user.Email
</p>
<form method="post" asp-action="OnPostPassword">
    <p>
        Change Password: <input type="text" />
    </p>
    <p>
        Confirm New Password: <input type="text" />
    </p>
    <button type="submit">Save</button>
</form>

@{
    var lastTen = await CheckoutService.GetLastTenOrders(5);
}

@foreach (var item in lastTen)
{
    <h3>Customer: @item.LastName, @item.FirstName</h3>
    <p>
        Total: $@item.GrandTotal.00
    </p>
    <p>
        Date: @item.OrderDate
    </p>
    <p>
        Completed: @item.Completed
    </p>
    <a asp-page="./OrderDetails" asp-route-id="@item.ID">View Details</a>
}